In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'month' : [1, 2, 3],
    'temperature' : [-12, 3, 9]
})
df.describe()

       month  temperature
count    3.0     3.000000
mean     2.0     0.000000
std      1.0    10.816654
min      1.0   -12.000000
25%      1.5    -4.500000
50%      2.0     3.000000
75%      2.5     6.000000
max      3.0     9.000000

In [3]:
import pandas as pd
df = pd.read_csv("data/Library_Usage.csv")
df.head()

/tmp/ipykernel_7124/671544392.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Library_Usage.csv")

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

In [4]:
import pandas as pd
df = pd.read_csv("data/Library_Usage.csv")
df.columns

/tmp/ipykernel_7124/1525834887.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Library_Usage.csv")

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [5]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts']
subset = df[column_names]
print(x)
print(subset)

0           15
1          378
2           33
3         2140
4         1035
          ...
436285       6
436286       0
436287       0
436288       0
436289     101
Name: Total Renewals, Length: 436290, dtype: int64
        Total Renewals  Total Checkouts
0                   15               53
1                  378              480
2                   33               70
3                 2140             3934
4                 1035             1118
...                ...              ...
436285               6                2
436286               0                3
436287               0                6
436288               0                4
436289             101              309

[436290 rows x 2 columns]

In [6]:
import pandas as pd
df = pd.read_csv('data/Library_Usage_Small.csv')

In [7]:
df.to_json("data/Library_Usage_Small.json")

In [8]:
df = pd.read_json("data/Library_Usage_Small.json")

In [9]:
df.to_html("data/Library_Usage_Small.html")

In [10]:
df = pd.read_html("data/Library_Usage_Small.html")[0]

In [11]:
print(df)

   Unnamed: 0  Patron Type Code Patron Type Definition  Total Checkouts  \
0           0                 1               Juvenile                0
1           1                 2                   Teen                0
2           2                 0                  Adult                0
3           3                 2                   Teen                0
4           4                 2                   Teen                0
5           5                 2                   Teen                0
6           6                 2                   Teen                0
7           7                 2                   Teen                0
8           8                 0                  Adult                0
9           9                 2                   Teen                0

   Total Renewals       Age Range Home Library Code Home Library Definition  \
0               0    0 to 9 years                r3                Richmond
1               0  10 to 19 years                 x                    Main
2               0  35 to 44 years                m4                  Merced
3               0  10 to 19 years                 x                    Main
4               0  10 to 19 years                b2                 Bayview
5               0  10 to 19 years                 x                    Main
6               0  10 to 19 years                 x                    Main
7               0  10 to 19 years                 x                    Main
8               0  35 to 44 years                 x                    Main
9               0  10 to 19 years                 x                    Main

   Circulation Active Month  Circulation Active Year Notice Preference Code  \
0                       NaN                      NaN                      z
1                       NaN                      NaN                      z
2                       NaN                      NaN                      z
3                       NaN                      NaN                      z
4                       NaN                      NaN                      z
5                       NaN                      NaN                      z
6                       NaN                      NaN                      z
7                       NaN                      NaN                      z
8                       NaN                      NaN                      z
9                       NaN                      NaN                      z

  Notice Preference Definition  Provided Email Address  \
0                        Email                    True
1                        Email                    True
2                        Email                    True
3                        Email                    True
4                        Email                    True
5                        Email                    True
6                        Email                    True
7                        Email                    True
8                        Email                    True
9                        Email                    True

   Year Patron Registered  Within San Francisco County
0                    2022                         True
1                    2022                         True
2                    2019                         True
3                    2021                         True
4                    2013                         True
5                    2021                        False
6                    2021                        False
7                    2021                         True
8                    2019                        False
9                    2021                        False

In [12]:
df.to_excel("data/Library_Usage_Small.xlsx")

In [13]:
df = pd.read_excel("data/Library_Usage_Small.xlsx")

In [14]:
df.to_csv("data/Library_Usage_Small_1.csv")

In [15]:
df.memory_usage("data/Library_Usage_Small.csv")

Index                           128
Unnamed: 0.1                     80
Unnamed: 0                       80
Patron Type Code                 80
Patron Type Definition           80
Total Checkouts                  80
Total Renewals                   80
Age Range                        80
Home Library Code                80
Home Library Definition          80
Circulation Active Month         80
Circulation Active Year          80
Notice Preference Code           80
Notice Preference Definition     80
Provided Email Address           10
Year Patron Registered           80
Within San Francisco County      10
dtype: int64

In [16]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts']
subset = df[column_names]
print(x)
print(subset)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: Total Renewals, dtype: int64
   Total Renewals  Total Checkouts
0               0                0
1               0                0
2               0                0
3               0                0
4               0                0
5               0                0
6               0                0
7               0                0
8               0                0
9               0                0

In [17]:
x = df['Total Renewals']
df['Total Renewals'] = 5
x

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: Total Renewals, dtype: int64

In [18]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'Adult'
df['log_renewals'] = np.log(df['Total Renewals'] +1)

In [19]:
print(df)

   Unnamed: 0.1  Unnamed: 0  Patron Type Code Patron Type Definition  \
0             0           0                 1               Juvenile
1             1           1                 2                   Teen
2             2           2                 0                  Adult
3             3           3                 2                   Teen
4             4           4                 2                   Teen
5             5           5                 2                   Teen
6             6           6                 2                   Teen
7             7           7                 2                   Teen
8             8           8                 0                  Adult
9             9           9                 2                   Teen

   Total Checkouts  Total Renewals       Age Range Home Library Code  \
0                0               5    0 to 9 years                r3
1                0               5  10 to 19 years                 x
2                0               5  35 to 44 years                m4
3                0               5  10 to 19 years                 x
4                0               5  10 to 19 years                b2
5                0               5  10 to 19 years                 x
6                0               5  10 to 19 years                 x
7                0               5  10 to 19 years                 x
8                0               5  35 to 44 years                 x
9                0               5  10 to 19 years                 x

  Home Library Definition  Circulation Active Month  Circulation Active Year  \
0                Richmond                       NaN                      NaN
1                    Main                       NaN                      NaN
2                  Merced                       NaN                      NaN
3                    Main                       NaN                      NaN
4                 Bayview                       NaN                      NaN
5                    Main                       NaN                      NaN
6                    Main                       NaN                      NaN
7                    Main                       NaN                      NaN
8                    Main                       NaN                      NaN
9                    Main                       NaN                      NaN

  Notice Preference Code Notice Preference Definition  Provided Email Address  \
0                      z                        Email                    True
1                      z                        Email                    True
2                      z                        Email                    True
3                      z                        Email                    True
4                      z                        Email                    True
5                      z                        Email                    True
6                      z                        Email                    True
7                      z                        Email                    True
8                      z                        Email                    True
9                      z                        Email                    True

   Year Patron Registered  Within San Francisco County  is_adult  log_renewals
0                    2022                         True     False      1.791759
1                    2022                         True     False      1.791759
2                    2019                         True      True      1.791759
3                    2021                         True     False      1.791759
4                    2013                         True     False      1.791759
5                    2021                        False     False      1.791759
6                    2021                        False     False      1.791759
7                    2021                         True     False      1.791759
8                    2019                        False      True      1.791759
9                    2021                        False     False      1.791759

In [20]:
df = pd.read_csv("data/Library_Usage.csv")

/tmp/ipykernel_7124/1525811659.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Library_Usage.csv")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436290 entries, 0 to 436289
Data columns (total 14 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              436290 non-null  int64
 1   Patron Type Definition        436290 non-null  object
 2   Total Checkouts               436290 non-null  int64
 3   Total Renewals                436290 non-null  int64
 4   Age Range                     435378 non-null  object
 5   Home Library Code             436288 non-null  object
 6   Home Library Definition       436260 non-null  object
 7   Circulation Active Month      396777 non-null  object
 8   Circulation Active Year       396777 non-null  float64
 9   Notice Preference Code        393301 non-null  object
 10  Notice Preference Definition  393301 non-null  object
 11  Provided Email Address        436290 non-null  bool
 12  Year Patron Registered        436290 non-null  int64
 13  Within San Francisco County   435083 non-null  object
dtypes: bool(1), float64(1), int64(4), object(8)
memory usage: 43.7+ MB

In [22]:
pd.to_numeric(
    df['Circulation Active Year'], errors='coerce'
)

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [26]:
import pandas as pd
df = pd.read_csv("data/Library_Usage.csv")
df.loc[df["Total Checkouts"] > 10000]

/tmp/ipykernel_7124/153093525.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Library_Usage.csv")

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
7946,3,Senior,12095,5233,75 years and over,m4,Merced,Jul,2023.0,z,Email,True,2003,False
11000,3,Senior,10386,1008,75 years and over,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
16641,3,Senior,12363,1384,65 to 74 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False
22331,0,Adult,16483,103,60 to 64 years,m6,Mission,Jul,2023.0,NaN,NaN,False,2003,False
23428,3,Senior,10080,459,65 to 74 years,r3,Richmond,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364224,3,Senior,10330,962,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False
385277,3,Senior,12149,1794,65 to 74 years,s7,Sunset,Jul,2023.0,z,Email,True,2003,False
422501,3,Senior,15456,56,65 to 74 years,m2,Marina,Jul,2023.0,z,Email,True,2008,False
434124,3,Senior,17494,948,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2003,False

In [30]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
7946,3,Senior,12095,5233,75 years and over,m4,Merced,Jul,2023.0,z,Email,True,2003,False
11000,3,Senior,10386,1008,75 years and over,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
16641,3,Senior,12363,1384,65 to 74 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False
22331,0,Adult,16483,103,60 to 64 years,m6,Mission,Jul,2023.0,NaN,NaN,False,2003,False
23428,3,Senior,10080,459,65 to 74 years,r3,Richmond,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364224,3,Senior,10330,962,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False
385277,3,Senior,12149,1794,65 to 74 years,s7,Sunset,Jul,2023.0,z,Email,True,2003,False
422501,3,Senior,15456,56,65 to 74 years,m2,Marina,Jul,2023.0,z,Email,True,2008,False
434124,3,Senior,17494,948,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2003,False

In [32]:
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]

Empty DataFrame
Columns: [Patron Type Code, Patron Type Definition, Total Checkouts, Total Renewals, Age Range, Home Library Code, Home Library Definition, Circulation Active Month, Circulation Active Year, Notice Preference Code, Notice Preference Definition, Provided Email Address, Year Patron Registered, Within San Francisco County]
Index: []

In [36]:
(df['Age Range'] == '0 to 9 years').sum()

32692

In [37]:
(df['Total Checkouts'] >= 20000).sum()

9

In [38]:
(df['Home Library Definition'] == 'Richmond').sum()

20656

In [3]:
import pandas as pd
df = pd.read_csv("data/Library_Usage.csv")

/tmp/ipykernel_3230/4030766165.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Library_Usage.csv")

In [4]:
df[df["Age Range"].isna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
8,5,Staff,178,27,NaN,x,Main,Apr,2020.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436185,5,Staff,3883,2906,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN
436196,16,Digital Access Card,270,430,NaN,x,Main,Jun,2023.0,z,Email,True,2017,NaN
436211,5,Staff,2933,3322,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN
436225,5,Staff,664,510,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN
436270,5,Staff,9,5,NaN,x,Main,Feb,2023.0,NaN,NaN,False,2020,NaN

In [6]:
df.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64