In [8]:
import pandas as pd

In [9]:
doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics"]})

doi_df_first_author = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen"]})

In [10]:
doi_df_first_author

                              DOI first_author
0    10.1371/journal.pcbi.1004668     Blischak
1             10.21105/joss.01035       Sparks
2             10.21105/joss.01006      Granger
3  10.12688/f1000research.18866.2        Thang
4       10.1186/s12859-019-3171-0         Chen

In [11]:
doi_df_journal

                              DOI             journal
0    10.1371/journal.pcbi.1004668    PLoS Comput Biol
1             10.21105/joss.01035                JOSS
2  10.12688/f1000research.18866.2            F1000Res
3      10.1038/s41598-019-52881-4             Sci Rep
4       10.1186/s12859-019-3171-0  BMC Bioinformatics

In [12]:
doi_df_first_author.merge(doi_df_journal, on="DOI")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

## Inner join (merge)

In [13]:
doi_df_first_author.merge(doi_df_journal, on="DOI")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

## Left join (merge)

In [14]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="left")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

## Right join (merge)

In [15]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="right")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3      10.1038/s41598-019-52881-4          NaN             Sci Rep
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

## Outer join (merge)

In [16]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="outer")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics
5      10.1038/s41598-019-52881-4          NaN             Sci Rep

## When auf Spalten mit verschiedenen Namen gemergt werden

In [19]:
doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics"]})

doi_df_first_author = pd.DataFrame({
    "article_doi": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen"]})

In [20]:
doi_df_first_author.merge(doi_df_journal, left_on="article_doi", right_on="DOI", how="inner")

,article_doi,first_author,DOI,journal
0,10.1371/journal.pcbi.1004668,Blischak,10.1371/journal.pcbi.1004668,PLoS Comput Biol
1,10.21105/joss.01035,Sparks,10.21105/joss.01035,JOSS
2,10.12688/f1000research.18866.2,Thang,10.12688/f1000research.18866.2,F1000Res
3,10.1186/s12859-019-3171-0,Chen,10.1186/s12859-019-3171-0,BMC Bioinformatics

## Apply

In [21]:
doi_df_first_author_2 = pd.DataFrame({
    "DOIs": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak J.",
        "Sparks Adam H.",
        "Granger Nicolas",
        "Thang",
        "Chen Danze"]})

In [23]:
doi_df_first_author_2

                             DOIs     first_author
0    10.1371/journal.pcbi.1004668      Blischak J.
1             10.21105/joss.01035   Sparks Adam H.
2             10.21105/joss.01006  Granger Nicolas
3  10.12688/f1000research.18866.2            Thang
4       10.1186/s12859-019-3171-0       Chen Danze

In [25]:
"Rosalind Franklin".split(" ")

['Rosalind', 'Franklin']

In [26]:
"Rosalind Franklin".split(" ")[0]

'Rosalind'

In [27]:
"Rosalind Franklin".split(" ")[1]

'Franklin'

In [28]:
doi_df_first_author_2["first_author"].apply(
    lambda author: author.split(" ")[0])

0    Blischak
1      Sparks
2     Granger
3       Thang
4        Chen
Name: first_author, dtype: object

In [33]:
doi_df_first_author_2["last_name"]. = doi_df_first_author_2["first_author"]
    lambda author: author.split(" ")[0])

IndentationError: unexpected indent (627362689.py, line 2)

In [40]:
doi_df_first_author_2["first_author"].apply(
    lambda author: " ".join(author.split(" ")[1:]))

0         J.
1    Adam H.
2    Nicolas
3
4      Danze
Name: first_author, dtype: object

In [36]:
"Sparks Adam H.".split(" ")[1:]

['Adam', 'H.']

In [38]:
" ".join(['Adam', 'H.'])

'Adam H.'

In [41]:
doi_df_first_author_2["first_name"] = doi_df_first_author_2["first_author"].apply(
    lambda author: " ".join(author.split(" ")[1:]))

In [44]:
doi_df_first_author_2

                             DOIs     first_author first_name
0    10.1371/journal.pcbi.1004668      Blischak J.         J.
1             10.21105/joss.01035   Sparks Adam H.    Adam H.
2             10.21105/joss.01006  Granger Nicolas    Nicolas
3  10.12688/f1000research.18866.2            Thang
4       10.1186/s12859-019-3171-0       Chen Danze      Danze

In [45]:
del doi_df_first_author_2["first_author"]

In [46]:
doi_df_first_author_2

                             DOIs     first_author
0    10.1371/journal.pcbi.1004668      Blischak J.
1             10.21105/joss.01035   Sparks Adam H.
2             10.21105/joss.01006  Granger Nicolas
3  10.12688/f1000research.18866.2            Thang
4       10.1186/s12859-019-3171-0       Chen Danze

In [48]:
doi_df_first_author_2.to_csv("doi_last_and_first_name.csv")

In [5]:
def clean_string(author_string): return " ".join(author_string.split(" ")[1])
doi_df_first_author_2["first_author"].apply(clean_string)

NameError: name 'doi_df_first_author_2' is not defined